.hd-colorpicker-container {
    position: absolute;
    top: 65px;
    z-index: 99;
    max-width: 100%;
    width: 380px;
    right: 0;
    background-color: white;
    padding: 9px;
    box-shadow: 0 0 6px #b3b3b361;
    border-radius: 3px;
    box-sizing: border-box;
}

.hd-colorpicker-clearfix {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.hd-colorpicker-clearfix > li {
    width: 20px;
    height: 20px;
    display: block;
    margin: 2px;
}

.hd-colorpicker-palette-button {
    width: 100%;
    border: none;
    height: 100%;
    cursor: pointer;
}
